*{
    box-sizing: border-box;
}

#container{
    border: 1px solid black;
    width: 1140px;
    margin: auto;
}

#header{
    border: 1px solid black;
    height: 200px;
    display: flex;
}

#header > div:nth-child(1){
    flex-basis: 15%;
}
#header > div:nth-child(2){
    flex-basis: 70%;
}
#header > div:nth-child(3){
    flex-basis: 15%;
}

#header > div:nth-child(1){
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header > div:nth-child(1)>img{
    
    width:  120px;
}
#header > div:nth-child(2){
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#query{
    border: 1px solid black;
    width: 500px;
    padding : 10px;
    font-weight: bold;
    border: 2px solid #455ba8;
    border-radius: 5px;
}

/* 두번째 줄 */
#test2{
    border: 1px solid black;
    height: 50px;
    display: flex;
    
}
#test2 > div:nth-child(1){
    width:  120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#test2 > div:nth-child(1):hover{
    background-color: #455ba8;
}

#test2 > div:nth-child(2){
    width:  120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#test2 > div:nth-child(2):hover{
    background-color: #455ba8;
}

#test2 > div:nth-child(3){
    width:  120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#test2 > div:nth-child(3):hover{
    background-color: #455ba8;
}

#test2 > div:nth-child(4){
    width:  120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#test2 > div:nth-child(4):hover{
    background-color: #455ba8;
}

#test2 > div:nth-child(5){
    width:  120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#test2 > div:nth-child(5):hover{
    background-color: #455ba8;
}

/* 3번째 줄 */
#test3 {
    border: 1px solid black;
    height: 600px;
    display: flex;
}

#test3 > div:nth-child(1){
    border: 1px solid black;
    flex-basis: 70%;
}
#test3 > div:nth-child(2){
    border: 1px solid black;
    flex-basis: 30%;
}

/* 3-1로그인 */
#login{

}
/* 3-2회원가입 */
#Register{

}
