img{
    width: 250px;
    /* height: auto; */
    /* height는 자동으로 auto임 */
}

/* transform : 변형과 관련된 속성 */
.trans-x-2d:hover{
    /* transform */
    transform: translateX(100px);
}

.trans-y-2d:hover{
    transform: translateY(-100px);
}

.trans-d-2d:hover{
    transform: translate(100px, 100px);/* x,y */
}

/* scale(배율) */
.trans-x-scale:hover{
    transform: scaleX(2);
}

.trans-y-scale:hover{
    transform: scaleY(2);
}

.trans-d-scale:hover{
    /* transform: scale(2); */
    transform: scale(3,2);/* x,y */
}

/* rotate(회전) */
.trans-rotate:hover{
    transform:rotate(90deg);
}


.trans-3d:hover{
    /* perspective(z축의 길이) : 원근법 적용 */
    transform : perspective(300px) translate3d(50px, 50px, 100px)
}

.trans-rotate-x-3d:hover{
    /* perspective(z축의 길이) : 원근법 적용 */
    transform : perspective(300px) rotatex(50deg)
}

.trans-rotate-y-3d:hover{
    /* perspective(z축의 길이) : 원근법 적용 */
    transform : perspective(300px) rotatey(50deg)
}

.trans-rotate-z-3d:hover{
    /* perspective(z축의 길이) : 원근법 적용 */
    transform : perspective(300px) rotatez(50deg)
}

.trans-rotate-3d:hover{
    /* perspective(z축의 길이) : 원근법 적용 */
    transform : perspective(300px) rotate3d(0.5, 0.5, 0.5, 50deg)
}

.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: brown;

    /* 시간이 변경되는 시간을 지정 */
    transition-duration: 1s;
}

.test1:hover{
    background-color: black;
}

.test2:hover{
    transform: rotate(360deg);
    background-color: gray;

    border-radius: 50%;
    /* transition-duration: 2s; */
}

.test3{
    /* 변형에 걸리는 시간 */
    transition-duration: 3s;

    transition-timing-function: ease-in-out;
    /* transition-timing-function: cubic-bezier(0,-0.69,0,2.91); */
}

.test3:hover{
    transform: rotate(360deg);
}


.test4{
    transition-delay: 1s;
    /* transition-property: all; */
    transition-property: background-color;
    /* 특정 놈만 지연시키기 */
}
.test4:hover{
    background-color: cornflowerblue;
    font-size: 50px;

    transform: translateX(100px);
}